[2017-07-03 15:24] JackJHarris opened #20 "Expand Bro logs Reader with Pattern and Compression Support"
In addition being able to load a single uncompressed file with the BroLogReader
[code]

Add support for loading multiple files (with optional gz detection)

[code]
This would facilitate loading a set of files for analysis

[2017-07-03 17:28] brifordwylie commented on #20
Hi @JackJHarris so I'm looking at this.. and it's a little bit tricky so I'm going to do a PR for it and I'll put you on the review.

[2017-08-07 00:49] brifordwylie commented on #20
Okay, so after doing this the wrong way with PR #21 ... I realized much better cleaner to do #22. Basically when doing multiple file or zipped file... the tail=True option doesn't make any sense. So anyway... all you do now is create a BroMultiLogReader(file_path) instead of the BroLogReader(file_path).  The multi-log reader will take a file glob (dns*.log) and it will also take gzipped files (dns

[2017-08-07 00:49] #20 closed, assigned to brifordwylie

[2017-08-20 23:47] brifordwylie opened #23 "Bro Log Generator to Pandas DataFrame optimization"
If you look at the internals of the list of dict to arrays method in the Pandas frame.py class.. it looks fairly inefficient. So perhaps provide a BroThon class that does the conversion faster/better, also look at Apache Arrow implementation.

[code]

[2017-09-18 06:22] jjjan opened #24 "send data to splunk"
Hello,
how is possible to send data directly to splunk?

[2017-09-18 15:07] brifordwylie commented on #24
Hi @jjjan  I think the easiest way is to use the Bro Kafka plugin (as described here: https://github.com/Kitware/bat/blob/master/notebooks/Bro_to_Kafka_to_Spark.ipynb and then use the Splunk add-on for Kafka: https://splunkbase.splunk.com/app/2935/

So basically two steps:

1.  Install Kafka plugin to Bro
2. Install Kafka add-on for Splunk

Let me know how it goes, I think this is a popular enough

[2017-10-05 20:53] sathyaanurag opened #25 "Issue in reading various log files where service column has various values"
#Operating system - Windows -64 bit
# Jupyter Notebook - Python3

import pandas as pd
import numpy as np
import os
import gzip
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import sqlalchemy
import re
import sklearn

#pandas python code
reader = bro_log_reader.BroLogReader('storm_conn.log.txt')
storm_df = pd.DataFrame(reader.readrows())
print(storm_df.head())

#Sample

[2017-10-05 21:05] brifordwylie commented on #25
@sathyaanurag thanks for the detailed bug report and sample data. I'll get on this right away. So I think there might be a cut/paste issue.. pulling the example data from above I get an error on the third row:

    Conversion Issue for key:orig_ip_bytes value:1 62
    invalid literal for int() with base 10: '1 62'

Can you just attach the file to this ticket instead of cut/paste?

[2017-10-06 18:33] brifordwylie commented on #25
@sathyaanurag I've spent time trying to fix the file but gave up in frustration. Please attach the demo file instead of cut/pasting it and I'll try to track down the issue.

[2017-10-16 01:20] brifordwylie commented on #25
@sathyaanurag I cannot reproduce this without an attached file. The cut/paste has random returns when I try to make a new file with it. Can you attach the data file instead of cut/paste?  I'll probably close this in a day or two if we can't get a good reproducible file.

[2017-10-16 17:20] brifordwylie opened #28 "Better error handling with the bro log file is not found."
Right now the bro_log_reader.py doesn't raise an IOError exception when the bro log file is not found (or not readable), so that needs to be fixed. Also the log_to_dataframe class also needs to catch and rethrow that IOError so that scripts using either of those can properly catch the IOError.

[2017-10-16 18:20] brifordwylie commented on #28
Okay, this is now fixed. The bro_log_reader will throw an IOError when the file is not found. Looking at the tests this seems to propagate properly.

[2017-10-16 18:20] #28 closed, assigned to brifordwylie

[2017-10-17 06:41] swedishmike opened #29 "Whitelisting Example"
Hi,

From the start - I'm not sure if this is a good idea or not. It might have consequences that I have not thought about. However, here it goes...

In my experience there are quite a few vendors that use DNS for various purposes. A/V vendors, like Sophos[1] for example, uses lookups for detection. These lookups tends to be quite weird looking and generates quite a lot of noise in DNS exfil rules

[2017-10-17 23:38] brifordwylie commented on #29
Hi @swedishmike,

I think having an example of removing whitelist items from a dataframe is good idea. I'll try to put together an example script in the next couple of days that's reasonably efficient.

[2017-10-18 13:38] petiepooo opened #31 "Huge requirements footprint"
If I don't have Cython, scipy, or spark installed, trying to install bat will attempt to install those as well.  All I want to do is pull a brolog into a dictionary.  Can we reduce the requirements footprint such that most dependencies are optional, and attempting to use or import a feature that requires one of them causes an exception explaining the need for it?

[2017-10-18 15:13] petiepooo commented on #31
Also, I don't believe bat should require bat.  That's recursive.  If I bumped the version on a fork, some versions of pip would try to install your version as a requirement of mine until I took that out.

[2017-10-18 15:34] brifordwylie commented on #31
@petiepooo Thanks for the feedback and bug finding. :)
- Having bat in the setup.py is just a silly bug, thanks for finding that.
- I agree the large set of requirements is suboptimal, in general I wanted folks to be to just install bat and then run all the stuff, but as you suggested perhaps we can minimize the libraries that get installed for the 'base' install 'pip install bat' and then push mo

[2017-10-18 15:38] petiepooo commented on #31
You rock!  I've forked for now so I can get going on my setup..

[2017-10-18 17:43] brifordwylie commented on #25
@sathyaanurag going to close this, feel free to reopen when you get a chance to attached the log that reproduces the error.

[2017-10-18 17:43] #25 closed, assigned to brifordwylie

[2017-10-18 22:46] brifordwylie commented on #31
@petiepooo so after some experimenting with this. I'm unsure I want to remove all the dependencies. The point of the project is to provide 'bridges' to Pandas, Scikit-Learn, Spark, etc. Without those dependencies basically nothing works and for most folks that will be a terrible 'out of box' experience.

I investigated a 'pip install bat[min]' option but there's no way to remove dependencies like

[2017-10-19 02:25] petiepooo commented on #31
I'd urge you to reconsider. People that want a bridge to scikit know to install scikit, or would the moment they get an import error trying to load the bat module that uses it. Same with spark or cython.  By making a bridge to all those advanced components, then including them in the install dependencies, you're telling users they must have everything installed even if they only need bat for one s

[2017-10-19 03:05] brifordwylie commented on #31
The point is well taken, I'll definitely give it further consideration. Thanks for the suggestion, I'll keep this issue open. Perhaps others might chime in...

[2017-10-19 06:50] swedishmike commented on #31
Just to add my £0.02...

I agree with @brifordwylie in this question. If I am to run Bat I sort of expect to get these dependencies installed. My understanding is that is was made for heavier data wrangling and ML from the outset.

However, the idea of a BtD  (Bro to Dictionary) utility is quite interesting for a more lightweight approach.

As I see things I think that should be separate though. A

[2017-10-19 17:26] swedishmike opened #33 "Make the log name an required argument to all the examples"
@brifordwylie - did you want me to add 'required=True' for the '-f' argparse argument to all the examples? It would make it a little bit tidier.

I can do that to all of them and then add as one pull request and approve it myself if you're ok with the action?

Cheers, Mike

[2017-10-19 18:04] brifordwylie commented on #33
@swedishmike that's a good idea, we might also just make it a positional argument... so that's it more like unix command line tools. So

    python blah.py filename

I think I like that even better, if you want to give it a swing feel free.

Here's the docs on that if you need it: https://docs.python.org/2/library/argparse.html

Approving PRs yourself is fine for smaller stuff like this, obviously

[2017-10-19 18:22] swedishmike commented on #33
Sure thing - I'll give that a go and will test it locally thoroughly before even submitting the PR for automated tests.

I'll probably submit this tomorrow - gives me time to test and 'make it right'.

Absolutely no worries at all - it's all my pleasure. It's a great project and I'm happy that I can contribute in a small way.

Cheers, Mike

[2017-10-19 18:35] brifordwylie commented on #33
You probably know all this already but since your a dev on the project you can just check out this repo make a local branch and then push that local branch and make a PR

    $ git checkout -b my_branch
    <work on stuff>
    $ git push -u origin my_branch

[2017-10-19 18:45] swedishmike commented on #33
Yeah - just wanted to check that it was ok with you to do it that way and just didn't get around to it yet. ;)

Will do that from now on.

[2017-10-19 18:47] brifordwylie commented on #31
@swedishmike yeah I was thinking the same thing.. make a no dependency version that just has the log reader/tailer... and that's about it. I made this as an experiment https://pypi.python.org/pypi/bat_min... so at a minimum (see what I did there?) I'll finish this up and then if folks just want the core log reader they can just do

    $ pip install bat-min

Actually, like Mike suggested, perhaps

[2017-10-20 07:28] swedishmike commented on #33
@brifordwylie All tested and merged now. Have a look and see what you think - if you're happy with it let me know and I'll close this issue.

[2017-10-20 16:09] brifordwylie commented on #33
Looks great :)

[2017-10-20 16:09] #33 closed, assigned to swedishmike

[2017-10-21 15:46] swedishmike opened #37 "Change the way that the examples checks the name of the log files"
Having played around with the example files I might have found a small issue.

The code currently roughly looks like this:

[code]
The potential issue here, as I see it, is the use of 'endswith'.

Given the fact that when Bro rotates out the logfiles they get a name like 'ssl.21:00:00-22:00:00.log.gz' we'd end up not being able to open a file that had been extracted without manually renaming it.

[2017-10-21 16:01] swedishmike opened #38 "New example to try and find Tor connections and also port number statistics"
@brifordwylie

I've just uploaded another branch called 'ssl_tor_and_port_count'. It adds two new files

- data/tor_ssl.log
- examples/tor_and_port_count.py

The example shows two more use cases for Bat.

1. Some people see Tor as something bad and wants to know if users are accessing Tor resources from their networks. One known way of doing this is to look for the issuer and subject of the certif

[2017-10-21 20:51] brifordwylie commented on #37
@swedishmike good observation. I think your suggestion sounds good.

#Random You probably already know about it but we have a zip/multi file reader bro_multi_log_reader.py so people can use that reader to read in the zipped rotated log files.

[2017-10-21 21:29] brifordwylie commented on #38
@swedishmike this example looks good. I've tested it out on my setup and seems to work fine, feel free to make a PR for it.

[2017-10-22 09:17] swedishmike commented on #38
@brifordwylie Many thanks - added some further error handling and also initial steps towards the documenation. Will submit the PR now so please have a look.

[2017-10-22 09:19] swedishmike commented on #37
@brifordwylie Cheers - will start looking at this now that I got the initial PR for the new example in place.

[2017-10-23 05:04] swedishmike commented on #38
PR approved so closing this issue now.

[2017-10-23 05:04] #38 closed, assigned to swedishmike

[2017-10-28 08:53] CyberTaoFlow opened #40 "FEATURE REQUEST - Bro JSON"
Greetings! Cool project and thank you for creating it and sharing it.

I opened the issue more as a feature request.  It would be nice if this also supported logs written by bro using the JSON output.  In some medium-large sensor deployments it is common to use JSON wherever possible to ease ETL and compatibility with things like the ELK stack etc.

[2017-11-01 17:25] petiepooo commented on #31
It looks like I can also use "pip install --no-deps bat", but then have to manually install the dependencies I'd actually use, like watchdog, requests, etc.  On the plus side, when I am missing a module, the ImportError exception makes it very clear what is missing.
Your monkey; your circus; your decision.  I will leave this discussion with a link to the python.org's recommendation for how to hand

[2017-11-06 05:34] DanielSpring opened #42 "How to run anomaly_detection.py"
Hello Brian,

How do you run these py scripts? I tried looking on the handbook but it doesn't say. Also do custom written scripts have to be put in the $PREFIX/share/bro/site or a default folder (base), or do we put them in any folder thats suitable in what we are trying to log?

Kind regards
Daniel

[2017-11-06 15:27] brifordwylie commented on #42
Hi @DanielSpring you run the scripts as a Python script

    $ python anomaly_detection.py <filepath>

Each script will provide help if you give the -h option

    $ python anomaly_detection.py -h

Let me know if you have additional questions...

[2017-11-06 15:47] brifordwylie commented on #31
@petiepooo sounds like you have a good solution of just running pip with the --no-deps option. As you mentioned people should be able to install BAT without all the dependencies, so we should support basically two use cases.

1. install no packages, people can run Bro log reader/tailer and then install additional dependencies when/if they need them.
2. install a bunch of packages and all the scrip

[2017-11-06 15:47] #31 closed, assigned to brifordwylie

[2017-11-06 15:52] brifordwylie opened #43 "Add documentation that covers installing without dependencies."
There was a good discussion about the large number of dependencies that the BAT project has #31 . We want to capture that discussion as a section of documentation that explains how to install BAT without all the dependencies.

[2017-11-10 17:32] #42 closed, assigned to nobody

[2017-11-14 08:09] swedishmike opened #44 "Not sure if this is a bug or just me misunderstanding things."
I tried to generate some graphs from the conn.log file when I ran into some problems.

If I follow the 'Bro_to_Plot.ipynb' framework and try the following:

`conn_df['duration'].hist()`

It bombs out with quite a lot of error output which culminates with:

`TypeError: Cannot cast ufunc less input from dtype('float64') to dtype('<m8[ns]') with casting rule 'same_kind'`

Some Googling later I tried

[2017-11-14 08:34] swedishmike opened #45 "Is Bat supposed to work under Windows?"
I tried to do some work on Windows machine and ran into some issues when trying to import logfiles*.

If I follow the 'normal' pattern to import a log file, for example: `conn_df = LogToDataFrame('conn.log')` it crashes out with the following error message:

[code]

I did verify that the file is in the current dir etc by a quick:

[code]
I've tried this with both Jupyter Notebook and on the Python

[2017-11-20 23:28] brifordwylie commented on #44
Hi @swedishmike,

Thanks for finding this. Looking at the types of the conn_df.. I see that the type of the duration is timedelta64[ns].. which seems correct.
[code]
I'm not a time delta expert but I found a conversion/overflow issue described here: http://www.datasciencebytes.com/bytes/2015/05/16/pandas-timedelta-histograms-unit-conversion-and-overflow-danger/

So when I convert this to a time in

[2017-11-20 23:31] brifordwylie opened #46 "Create a time delta plotting example"
@swedishmike found an interesting issue when plotting the timedelta64[ns] columns. So we should probably create an example that explains the issue and how to easily get around it. See #44 for more info.

[2017-11-21 18:48] #44 closed, assigned to nobody

[2017-11-24 18:52] brifordwylie commented on #45
Hi @swedishmike it's a bit hard to tell but it looks like the issue is on line 59 of the bro_log_reader.py. I'm guessing it might be either the 'time' or the 'interval' values which use the datetime/timestamp datetime/timedelta calls. Try removing the datetime stuff and just setting those to 0 (might give you an error down the road) but that would tell us that the issue is with one of those dateti

[2017-11-25 19:41] swedishmike commented on #45
Cheers - I'll give that whirl and poke around a bit and see if I can find something.

[2017-11-26 23:49] rohanbapat opened #47 "Unable to open bro logs - [Errno 22] Invalid argument"
Tried open conn.logs and dns.logs using BAT.

When I try -
`reader = bro_log_reader.BroLogReader('dns.log')`

I get an error  [Errno 22] Invalid argument

Traceback -

  File "<ipython-input-20-8ebfb15ab80c>", line 52, in __init__
    'time': datetime.datetime.fromtimestamp(0), 'interval': datetime.timedelta(seconds=0),

Please help

[2017-11-27 02:33] rohanbapat commented on #45
This is the error i think - https://github.com/home-assistant/appdaemon/issues/83

The datetime.datetime.fromtimestamp(0) fails in python 3.6. You should instead try datetime.datetime.fromtimestamp(86400), ie. the number of seconds in 1 day to get it to work.

Hope this helps

[2017-11-27 07:56] swedishmike commented on #45
@rohanbapat Great catch!

Seems that the bug been open for quite some time as well. https://bugs.python.org/issue29097

[2017-11-27 13:59] wpoely86 opened #48 "spark?"
In the `setup.py`, there is a dependency on the python package `spark`. I was wondering if this is a typo and you mean `pyspark`? The `spark` package also exists but it's a web framework.

[2017-11-27 18:56] brifordwylie commented on #47
Hi @rohanbapat is this on a windows box? If so it might be related to #45 . If this is not under windows please give me additional information about your system, the version of python,  and the full traceback you get. :)

[2017-11-27 18:58] brifordwylie commented on #48
@wpoely86 you're right, it was a typo, good catch. I've fixed this and checked it in. Thanks.

[2017-11-27 18:58] #48 closed, assigned to nobody

[2017-11-27 19:07] rohanbapat commented on #47
Oh Im sorry. Yes it is related to #45 . I found out that the issue was because of some bug in Python 3.6 that renders datetime.datetime.fromtimestamp(0) invalid. Instead need to change that to datetime.datetime.fromtimestamp(86400) . Ref - https://bugs.python.org/issue29097

Thanks for responding!

[2017-11-27 19:07] #47 closed, assigned to nobody

[2017-11-27 21:17] brifordwylie commented on #47
@rohanbapat awesome.. thanks for the link to https://bugs.python.org/issue29097 you have now solved #45 for us :)

[2017-11-27 21:36] brifordwylie commented on #45
Closing this with the merge of #49

[2017-11-27 21:36] #45 closed, assigned to swedishmike

[2017-11-28 20:24] bdsmith48 opened #50 "can't read log file with bat"
My code just hangs when trying to use bat on a log file

from bat import bro_log_reader

reader = bro_log_reader.BroLogReader('ssh.log')
for row in reader.readrows():
    print(row)

this code never completes or prints out anything, it is having problems with the for loop

[2017-11-28 20:49] swedishmike commented on #50
Hi @bdsmith48,

I just tried this and it worked just fine here - only thing is that print doesn't make it as nice to read as pprint but that's just a minor thing. A couple of questions to see if I can help you further.

- What version of Python are you using?
- What os are you running this on?

I've found that depending on the host (RAM, CPU etc) and size of logfile it can take some time to read i

[2017-11-30 17:23] bdsmith48 commented on #50
I've tried it on windows with python 2.7.6 and on a Mac but I can't currently check the version I was using on the Mac

[2017-11-30 17:30] swedishmike commented on #50
I don't think I got 2.7.6 installed anywhere at the moment so can't replicate right now.

If you just set it to read in the log, does it ever finish - if you run it in the interactive Python shell for example?

Have you tried other logs than the ssh.log?

[2017-11-30 20:03] brifordwylie commented on #50
@bdsmith48 @swedishmike My guess here is that ssh.log is an empty file or something. @bdsmith48 please try this with the files included in this repository under data/

[2017-12-01 21:18] bdsmith48 commented on #50
is there a reason why this wouldn't work with other bro log files? I know my files aren't empty and they aren't extremely long. It turns out that it did work for your log files though.

[2017-12-01 22:03] swedishmike commented on #50
I've used it with log files from quite a number of various installations - as well as some publicly available ones where I don't even know which versions of Bro they were generated so it _should_ work with yours too.

Three quick questions...

- What version of Bro are you running?
- Have you got any custom fields added to your logs?
- Depending on the sensitivity of your logs - would you be able

[2017-12-01 22:12] swedishmike commented on #45
Just tested and can confirm that the new version works on Windows as well now.

Excellent work!

[2017-12-04 01:08] brifordwylie commented on #50
@swedishmike good point about the json logs. @bdsmith48 if you have json logs they are currently not supported but on our todo list. See https://github.com/Kitware/bat/issues/40

[2017-12-07 20:53] swedishmike commented on #50
@bdsmith48 Are you still having issues with this or did you get it figured out?

[2017-12-12 15:20] zachmullen opened #51 "Consider breaking requirements into extras"
In particular, if pyspark is not a core dependency, it would be good to move that under a "spark" extra since that package is a 188 MB tarball download on my machine.

[2017-12-12 16:11] #51 closed, assigned to nobody

[2017-12-25 11:14] seckindinc commented on #50
I mailed same error to brian.wylie@kitware.com but it was responded that there is no such mail.
I saved a 2k row file as bro. Then i am tyring to load it to data frame with command below. My problem is nothing happens in 1.5 hour and cpu is always %100. What can cause this? Any mismatch between Bro versions? What version of Bro is required for Bat? I am using python 3.6.  btw
bro_df = LogToDataFra

[2017-12-25 11:23] swedishmike commented on #50
@seckindinc When you say that you 'saved it as bro' what do you mean?

Would it be possible for you to share this file so that I or @brifordwylie could give it a go in our environments?

I run Python 3.6 as well and have used logfiles from Bro 2.5.x without any problems.

[2017-12-25 11:30] seckindinc commented on #50
I tried to mean that i saved a small portion of raw log file under the name of "bro". I can't share log with you because of confidentiality. Can you share your Bro version or parser?

[2017-12-25 11:32] swedishmike commented on #50
Did you leave in the headers etc in the file?

Are your logs in tab separated format or JSON?

Which log file are you trying to parse at the moment? Conn, ssl, http etc?

Also, can you parse the example files that comes with Bat?

I'm running Bro v 2.5.1 and 2.5.2 on various machines at the moment.

[2017-12-25 11:43] seckindinc commented on #50
There is no head in file.
It is tab separated.
I have multiple types of Bro logs. I am assuming that Bro automatically parse this?
Didn't try yet. I will soon.

[2017-12-25 11:44] seckindinc commented on #50
I have multiple types of Bro logs. I am assuming that Bat* automatically parse this?

[2017-12-25 11:47] seckindinc commented on #50
I have done with your examples. I think i need to check my log files for format issues.

[2017-12-25 11:53] swedishmike commented on #50
I _think_ I might have replicated your issue. I removed the headers from one of the test files and now it doesn't load properly.

I'm in the middle of some Christmas celebrations here so can't fully verify in the code right now but my guess is that the headers are used to verify what file it is that's being opened and what fields it contains. I'm sure @brifordwylie can confirm whether or not this

[2017-12-25 12:12] seckindinc commented on #50
When i remove every detail except data, it didn't work for me either. I think bat requires column names and product type.

[2017-12-25 13:06] swedishmike commented on #50
So if you leave the lines starting with # from the top of the file it works?

As I said in the previous comment - I think this is what's used to ascertain what file it is as well as get the field names and so on.

[2017-12-25 13:08] seckindinc commented on #50
Thank you so much for your help. This package works great if we give detailed info about the log.

[2017-12-25 13:19] swedishmike commented on #50
@seckindinc No worries at all - I'm glad I could help you.

@bdsmith48 - Just to check - could this be the solution to your issue too?

[2018-01-01 02:20] brifordwylie commented on #50
@swedishmike @seckindinc Yes, the reader reads in the Bro Headers. All bro versions should be putting out headers on the files. If you cut/paste some of the rows into another file you'll need to include the headers as well.
I'm going to close this ticket, If @bdsmith48 wants to reopen we will.

[2018-01-01 02:20] #50 closed, assigned to swedishmike

[2018-01-01 02:22] brifordwylie opened #54 "Improve log rotation handling"
Right now the Bro log tailing 'kinda' handles log rotation but there are lots of little corner cases that we're not taking care of. We might consider using something like Pygtail (https://github.com/bgreenlee/pygtail). Looking at the project/code they've put a lot of work into handling all those crazy corner cases.

[2018-01-02 18:06] brifordwylie commented on #54
Actually after spending some 'quality time' with Pygtail on another project it doesn't handle some of the use cases we need (rename/create) and the code logic doesn't really support dynamic tailing very well. You can put a wrapper around next that works fine but then weird stuff happens with log rotations not be processed correctly...

[2018-01-02 19:36] swedishmike commented on #54
Just a thought, that might be wide off the mark....

How many users do you think want/need the log tailing? Would it make sense to utilise some other mechanism for the heavy lifting instead?

For example if a heavy/advanced user have a ready Spark/Kafka setup could that be utilised to pull a (more or less) live feed?

As I said, just a thought...

[2018-01-04 14:12] swedishmike opened #55 "Is there an issue with resampling/plotting of larger sets of data?"
I've successfully done some resampling and plotting of data from various dns.log files from different hosts in my environment following the layout/example in https://github.com/Kitware/bat/blob/master/notebooks/Bro_to_Plot.ipynb.

Then I thought I'd do the same for conn.log and this is where I run into problems. I'm not sure if the issue lies with Bat and/or Pandas (or for that matter myself) so I

[2018-01-04 16:44] swedishmike commented on #55
Actually - I think I might have figured out what causes this.

After doing some df_bro.sort_index() and df_bro.head() I noticed that there are actually some really old stuff in there as well. Caused by the way that Bro logs connections when they are closed.

For example:

![image](https://user-images.githubusercontent.com/8100625/34573959-df87b70c-f16d-11e7-8be3-ca29aa72ef5b.png)

This is taken fr

[2018-01-05 10:22] swedishmike commented on #55
Got sort of a fix for this issue now. I've based this on the need to plot from the log files that are rotated out every hour so the time range should be an hour. Should be easy to adapt for any time range though.

Quick and dirty code as an example:

[code]

@brifordwylie I was thinking that maybe I should add a quick note re this phenomenon in the Plot notebook ( https://github.com/Kitware/bat/bl

[2018-02-20 12:40] harispp opened #56 "Anomaly detection for entire bro log long period"
Hi I need to perform Anomaly detection detection for the entire bro log data continuously, I have found that **anomaly_detection_streaming.py** and **anomaly_detection.py** but no idea which one used for continuous monitor suppose for 1 month. Even if I used **anomaly_detection_streaming.py** when I restart the program it will start from current log only, the old data will miss. How I can turn the

[2018-02-22 15:16] waxlamp commented on #56
Hi @harispp!

I generally handle this by reading in older, archived log files going back to the date I need to start from, filtering out data rows that are older than my target date, and using Python's `itertools` library to put together a stream of data from multiple files as needed.

It would be good to have this as a utility function within Bat. Let me know if this puts you on the right track,

[2018-02-22 17:01] harispp commented on #56
Thanks for the feedback.
I have few queries, actually I have to do this anomaly detection for long time with all past data. So instead of creating and generating models every time, is there any way to store the trained model  by adding each new data, and updating the model. And in-case the program exit load trained model from file.

[2018-02-26 15:23] waxlamp commented on #56
Unfortunately I don't know how `sklearn` works, but maybe you can look into pickling the appropriate objects and function. Perhaps @brifordwylie can provide you some more specific help.

[2018-02-27 05:53] harispp commented on #56
Thanks for the feedback.

[2018-02-27 05:53] #56 closed, assigned to nobody

[2018-06-13 16:26] Jouster500 opened #57 "Run from command line"
I've been trying to get your package to work on the command line to get a feel for and understanding of how its doing its magic. Unfortunately, while python (both 2.7 and 3.6) does note success in importing and using the bat package, your basic example of `pprint` for the logs on the command line outputs nothing. Same goes for `print` which leads me to believe there is no working implementation fo

[2018-06-13 17:02] waxlamp commented on #57
Hi @Jouster500!

So, I just tried the example using Python 2.7 and a fresh checkout of the bat repository, and it worked for me. What's in the file you're using (`dhcp.log` in the example)? Was it generated by Bro?

[2018-06-13 17:12] Jouster500 commented on #57
@waxlamp As an example, here's the first 4 lines of the dhcp.log file that was part of the old 2012 competition using them...

`
{"ts":"2012-03-16T12:30:47.230000Z","uid":"CmIHTg3QMO3qO1pvj8","id.orig_h":"192.168.202.76","id.orig_p":68,"id.resp_h":"192.168.202.1","id.resp_p":67,"mac":"00:26:9e:83:a2:30","assigned_ip":"192.168.202.76","lease_time":0.0,"trans_id":2767872470} {"ts":"2012-03-16T12:31:

[2018-06-13 18:01] waxlamp commented on #57
Ah I see... I think maybe your input file has an older format -- bat expects input in "tabular" files in Bro's documented [log format](https://www.bro.org/sphinx-git/logs/index.html).

To get bat's basic example working, I expect you could write a short Python program to convert your JSON-based log file into a tab-separated file with header information as shown in the link above.

Let me know if y

[2018-06-13 18:10] swedishmike commented on #57
Also - don't forget that 'header lines' needs to be in there for Bat to properly parse the files. These are the files starting with #'s that are always put in at the top of every new logfile.

Example:

#separator \x09
#set_separator  ,
#empty_field    (empty)
#unset_field    -
#path   conn
#open   2014-04-03-10-08-27
#fields ts      uid     id.orig_h       id.orig_p       id.resp_h       id.resp_

[2018-06-14 16:32] Jouster500 commented on #57
Yeah it would seem the bro configurations i made removed that header. So when running the script on those headerless files, nothing got outputted. I tried it on a variation that did have it and all is well.

[2018-06-14 17:15] swedishmike commented on #57
@Jouster500 - sweet! That has caught out quite a few people. ;)

If it's all good now - is it ok to close this issue?

[2018-06-14 19:58] Jouster500 commented on #57
Good to close.

[2018-06-14 19:58] #57 closed, assigned to nobody

[2018-07-29 04:31] brifordwylie opened #58 "pd.Concat does not work directly on LogToDataFrame"
Realized that doing a pd.Concat on the LogToDataFrame classes (which should work fine) does not actually work. It appear that concat will try to create a combined dataframe of the same class as those in the list. So when the constructor is called.. there's obviously no log file to read and we get an exception.

[2018-08-14 14:17] rohankkathpal opened #59 "ImportError: cannot import name 'df_stats'"
Following function doesn't exist:
from bat.utils import df_stats
is there an alternative function available? cant find it in docs

[2018-08-14 16:05] brifordwylie commented on #59
@rohankkathpal the risky domain notebook needs to be updated a bit (I'll make a ticket for that).. the df_stats did move. you can import it like this...
[code]
Let me know if that works out okay.

[2018-08-14 16:14] brifordwylie opened #60 "Update code/examples that use df_stats"
The df_stats import has 'moved' instead of
[code]
it's now
[code]
So we need to update the code/examples to reflect the change.
See: #59

[2018-08-15 16:09] #59 closed, assigned to brifordwylie

[2018-08-17 16:05] rohankkathpal commented on #59
Hi, it works, Thank you so much

[2018-09-04 18:39] brifordwylie opened #61 "Jupyter Notebooks: div float not working on Github viewer"
I've already sent out a support email to Github on this:

Using a 'float' on a div used to work with the Github Jupyter notebook viewer but sometime during the last year it stopped working.

GitHub viewer (div float not working)
- https://github.com/Kitware/bat/blob/master/notebooks/Bro_to_Scikit_Learn.ipynb

Same Notebook on NBViewer (div float working fine)
- https://nbviewer.jupyter.org/github/

[2018-09-04 18:58] brifordwylie commented on #61
Addressed, at least for now, with #62

[2018-09-04 18:58] #61 closed, assigned to brifordwylie

[2018-09-04 19:20] brifordwylie commented on #55
@swedishmike so I'm going through some of these old issues. Looking at the details of this one looks like it's a 'hey my data had some really old connection in them'. So as you observed not really a bat or Pandas issue here. I like your suggestion of maybe adding a 'filtering' example that shows the user how to get an hour of data from the dataframe. I'm going to close this issue and if you'd like

[2018-09-04 19:20] #55 closed, assigned to swedishmike

[2018-09-04 19:21] brifordwylie commented on #60
closing with #63

[2018-09-04 19:21] #60 closed, assigned to brifordwylie

[2018-09-04 19:28] brifordwylie opened #64 "Make sure all notebooks run"
Take a pass at all the notebooks and make sure they all run.

For some notebooks (like risky_domains) it needs third-party data files, so  put in some super helpful messages for those.

Notebooks known to run:
- Anomaly_Detection.ipynb
- Bro_to_Scikit_Learn.ipynb
- Bro_to_Spark_Cheesy.ipynb
- Clustering_Picking_K.ipynb

[2018-09-04 19:33] brifordwylie commented on #37
@swedishmike so in general the examples are meant to be 'looked at'.. meaning people should be running them and trying to understand the code. In this case the endwith logic is trying to be helpful but sometimes gets in the way. I like your suggestion of contains.. so I'll just pop that in.

[2018-09-04 19:52] brifordwylie commented on #37
Closing with PR #65

[2018-09-04 19:52] #37 closed, assigned to brifordwylie

[2018-09-05 19:40] brifordwylie commented on #24
Going to close this ticket. Splunk is pretty good about ingesting anything so probably 'out of scope' for us to send data to splunk.

[2018-09-05 19:40] #24 closed, assigned to brifordwylie

[2018-09-11 18:44] brifordwylie opened #69 "Change Readme to markdown instead of RST"
Now that 'warehouse' (aka pypi) finally supports markdown we can switch the readme to markdown.
- https://github.com/pypa/warehouse/issues/869
- https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi

[2018-10-11 07:00] #69 closed, assigned to brifordwylie

[2019-07-07 18:25] bhklimk opened #71 "bro_log_reader freezes for large files"
Three significant issues with the bro_log_reader class:
1) For very large files (10^6 lines or greater) the readerrows() method is an inefficient way to create pandas dataframes.
2) The bro_log_reader class also does not optimize numpy type based off the number of unique instances of bro log objects.
3) Finally, the dict based approach in readerrows() puts the columns out of the expected order fro

[2019-08-17 17:38] brifordwylie opened #74 "Figure out why coveralls is breaking"
in the .travis.yml file we had to remove coveralls because it keep giving a 405 error... figure out what's going on and fix it.  #73

[code]

[2019-08-17 20:22] brifordwylie commented on #71
Link to related issue: #23

[2019-09-03 17:27] brifordwylie opened #77 "Parquet/Arrow Nullable integer arrays"
So right now we convert Nullable integer arrays into 'float32' types before converting them into parquet files. This is 'ok' but we might think of something more clever in the future.

[code]

[2019-09-03 17:30] brifordwylie commented on #71
Closing this with the merge of #76

[2019-09-03 17:30] #71 closed, assigned to nobody

[2019-09-03 17:31] brifordwylie commented on #23
Closing this with the merge of #76

[2019-09-03 17:31] #23 closed, assigned to brifordwylie

[2019-09-03 17:32] brifordwylie commented on #58
This is no longer relevant as the LogToDataframe now has a method 'create_dataframe' that return an actual dataframe.

[2019-09-03 17:32] #58 closed, assigned to brifordwylie

[2019-09-03 17:33] brifordwylie opened #78 "Fix LogToDataFrame docs/readme/examples"
The LogToDataFrame now has a slightly different interface. Fix all the docs

[code]

[2019-09-03 17:37] brifordwylie opened #79 "Push new version to PyPI"
With the new dataframe optimizations we should push a new version to PyPI when we complete with testing/docs/etc.

[2019-09-03 18:47] brifordwylie commented on #78
Complete...

[2019-09-03 18:47] #78 closed, assigned to brifordwylie

[2019-09-07 21:45] brifordwylie opened #80 "Switch docs to markdown instead of RST"
Going to just use Github's documentation system instead of readthedocs...

[2019-09-07 21:45] brifordwylie commented on #80
Okay this is done.

[2019-09-07 21:45] #80 closed, assigned to brifordwylie

[2019-09-07 22:03] brifordwylie commented on #74
I didn't see any issue here.. so closing this ticket.

[2019-09-07 22:03] #74 closed, assigned to brifordwylie

[2019-09-08 00:27] brifordwylie commented on #79
done... 0.3.6 is released to PyPI

[2019-09-08 00:27] #79 closed, assigned to brifordwylie

[2019-09-08 17:31] brifordwylie opened #89 "AWS as data input/output examples"
https://github.com/awslabs/aws-data-wrangler looks cool. We should do some examples/notebooks using that to pull/push data to S3/Athena/Redshift.

[2019-09-08 19:15] brifordwylie opened #90 "Examples using recent Kafka Bro/Zeek plugin"
The Kafka plugin for Bro is better/more official than it was when the first notebook/presentations were made, so we should make an updated version of the examples/notebook that uses the new Kafka plugin.
- https://github.com/apache/metron-bro-plugin-kafka

[2019-09-08 20:18] brifordwylie opened #91 "More Examples"
Folks like examples: So maybe take a peek at some blog (like https://blog.rapid7.com/2016/06/02/working-with-bro-logs-queries-by-example/) and make some more example script or notebooks.

[2019-09-08 20:44] brifordwylie opened #92 "Make sure all examples run"

[2019-09-08 21:37] brifordwylie opened #93 "dataframe_to_matrix class needs to be 'upgraded'"
Since our log_to_dataframe class now handles/encodes NaN values properly... then the dataframe_to_matrix class also needs to make sure those are handled during the conversion to a numpy ndarray.

[2019-09-10 17:17] brifordwylie commented on #93
Done with the merge of https://github.com/SuperCowPowers/bat/pull/94

[2019-09-10 17:17] #93 closed, assigned to brifordwylie

[2019-09-10 17:18] brifordwylie commented on #92
Done with the merge of https://github.com/SuperCowPowers/bat/pull/94

[2019-09-10 17:18] #92 closed, assigned to brifordwylie

[2019-09-11 14:57] brifordwylie opened #95 "Add a 'usecols' arg to LogToDataframe"
Easy to add a 'usecols' arg to LogToDataframe that will save lots of memory if the use case only involves some of the columns.

[2019-09-11 16:35] brifordwylie opened #96 "Dataframe to Spark"
The new output from LogToDataframe is great but I think the 'Nullable Integer Arrays'  might be causing some issues when trying to convert to a Spark dataframe.

See: https://stackoverflow.com/questions/38794522/pandas-dataframe-to-spark-dataframe-can-not-merge-type-error

[2019-09-15 21:19] brifordwylie opened #98 "Make a Spark load helper class"
The 'standard' way of converting basically turns all the types into either StringType or LongType (so the two largest types memory wise). Also more importantly if a NaN Is found it will either fail or do the wrong thing.

Refs:
- https://stackoverflow.com/questions/45181768/pandas-dataframe-to-spark-dataframe-handling-nan-conversions-to-actual-null
- https://spark.apache.org/docs/latest/sql-refere

[2019-09-26 16:32] #95 closed, assigned to brifordwylie

[2019-09-26 19:18] brifordwylie opened #100 "Refactor the LogToParquet class"
The current class is quite bleh, we need to incorporate a better approach to reading the log data in and converting to a parquet format.

[2019-09-26 19:22] brifordwylie commented on #96
I think dataframe to Spark isn't probably the best approach, here are 3 approaches that are probably better suited to 'real world' use:
1) Convert Log to Parquet (and then have Spark read in Parquet)
2) Read Log directly into Spark (we should have a class for this)
3) Zeek -> Kafka to Spark

[2019-09-26 19:22] #96 closed, assigned to brifordwylie

[2019-09-27 19:56] brifordwylie commented on #100
We have a much better solution with this PR: https://github.com/SuperCowPowers/bat/pull/101

[2019-09-27 19:56] #100 closed, assigned to brifordwylie

[2019-09-27 19:56] brifordwylie commented on #98
We now have a great LogToSparkDF Class: https://github.com/SuperCowPowers/bat/pull/101

[2019-09-27 19:56] #98 closed, assigned to brifordwylie

[2019-09-27 19:57] brifordwylie commented on #77
We're taking the log --> spark --> parquet  path now, so this is no longer an issue: https://github.com/SuperCowPowers/bat/pull/101

[2019-09-27 19:57] #77 closed, assigned to nobody

[2019-10-01 01:55] brifordwylie commented on #64
This is pretty much done, I still need to do #90 but since there is a ticket for that I'm closing this one since all the rest of the notebooks have been fixed/updated.

[2019-10-01 01:55] #64 closed, assigned to brifordwylie

[2019-10-07 17:38] #90 closed, assigned to brifordwylie

[2019-10-07 19:17] brifordwylie opened #102 "Phase2: Streaming data pipeline"
This notebook covers Phase 1 of the streaming data pipeline:
- https://nbviewer.jupyter.org/github/SuperCowPowers/bat/blob/master/notebooks/Zeek_to_Kafka.ipynb

Lets write a second notebook that covers ETL/Filtering/Spark

[2019-10-25 17:10] brifordwylie opened #103 "Improve anomaly detection streaming example."
Add hdbscan in addition to the minibatchKmeans incremental algorithm.

[2019-10-25 17:10] brifordwylie commented on #103
[code]

[2019-10-28 17:30] brifordwylie opened #104 "Think about an optimized Zeek log to parquet converter"
The current path from Zeek log to parquet is, log -> Spark -> Parquet file. This is good/fine... .there may be some improvements/short-path that we might investigate.

1) Hand written 'block' converter
2) Simple 'wrap up' a convenience class that uses Spark internally
3) ???

log->spark->parquet notebook
- https://nbviewer.jupyter.org/github/SuperCowPowers/bat/blob/master/notebooks/Zeek_to_Spark.i

[2019-10-28 20:19] brifordwylie commented on #104
Created both a new examples script and a notebook

[2019-10-28 20:19] #104 closed, assigned to brifordwylie

[2019-11-27 21:57] brifordwylie opened #105 "Deprecate Python 2.7 support"
Supporting Python 2.7 is going to be dropped.

[2019-11-28 09:26] rbnor opened #106 "Parsing issue (suspect regex issue?)"
The Anomaly detection notebook is unable to handle data with "Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 5.1; Trident/4.0"

ValueError                                Traceback (most recent call last)
pandas/_libs/lib.pyx in pandas._libs.lib.maybe_convert_numeric()

ValueError: Unable to parse string "Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 5.1; Trident/4.0)"

During handling of the above

[2019-11-28 09:52] rbnor commented on #106
It seems to me that pandas, for some reason tries to showe this user agent into a numerical value? Weird that it doesnt happen with the test data as it contains the same user agent. could be something fishy with the headers i guess, so that its not recognized properly or something? Ends up in the wrong field because of a broken line or something similar?

[2019-11-30 00:57] brifordwylie commented on #106
@RuneBergh thanks for reporting this issue. Would it be possible for you to send me a partial zeek log file that demonstrates this bug/issue? Please send to briford@supercowpowers.com if you can, thanks.

[2019-11-30 00:58] brifordwylie commented on #105
Done.

[2019-11-30 00:58] #105 closed, assigned to brifordwylie

[2019-12-17 16:55] brifordwylie opened #107 "Optimize dataframe_to_matrix"
The dataframe_to_matrix class is great functionally but it does seem to be a bit slow for some applications. See if the class can be optimized from a performance perspective.

[2019-12-17 16:58] brifordwylie commented on #106
@RuneBergh let me know if you can provide me a small example zeek log file that demonstrates this issue, otherwise I'll assume this is a corrupt/bad/malformed log file and close the issue.

[2020-01-30 14:09] DionAkkerman opened #108 "DataFrameToMatrix train_transform and transform dealing with categories"
Applying dataframe_to_matrix.transform() can lead to issues when applying a fitted transformation to new categorical data.

[code]

print(cat_df[0]) results in [1. 0. 0. 1. 0. 0.]
whereas
print(cat_row[0]) results in [1. 0. 0. 0. 0. 1.]

[2020-01-30 15:41] DionAkkerman commented on #108
The issue seems to be caused by self.lock_categorical(_internal_df) in the DataFrameToMatrix class. This is applied during fit_transform but not transform. Commenting out the line resolves the issue.

Would it be an idea to for the DataFrameToMatrix object to hold the levels for each categorical variable so that you could apply them to new data when applying the transformation?

[2020-02-27 02:02] #106 closed, assigned to nobody

[2020-02-27 02:16] brifordwylie commented on #108
@DionAkkerman sorry for the delay on this (just missed it somehow). I'm looking at this now and there definitely is a bug, so thanks for reporting this. It appears that if you set the DF types as categories manually before calling fit_transform that the category book keeping somehow gets messed up (which is obviously a bug). I'll fix this asap... for now you can just skip the 'astype' call and it

[2020-02-27 03:25] brifordwylie commented on #108
Okay, so this was a subtle issue with how Pandas improperly handles astype for categorical into a categorical with different value orders
[code]

Line 40 and 41 should both give the output from 41 but don't :)
I've pushed a workaround into the master branch and so everything should now work properly, please let me know if you can test it with a new pull from master. I'll do a PyPI release within t

[2020-02-27 12:45] DionAkkerman commented on #108
Thank you for looking into the issue (and for developing/maintaining this amazing package!). I'll get around to testing it next Wednesday and will report back.

[2020-03-04 19:17] DionAkkerman commented on #108
Works perfectly on the test data and actual logs. Thank you!

[2020-03-04 19:17] #108 closed, assigned to nobody

[2020-03-27 02:29] Wapiti08 opened #109 "What's the principle behind anomaly_detection?"
I found you used the length of a string as the numeric data for machine learning algorithms, like
[code]
There is a possibility that two different domains strings owned the same length. So the anomaly_detection seems to be vulnerable.

But I know for every instance after you apply the entropy function to query, they can become different based on all the features.

I am guessing maybe this is your

[2020-04-19 17:18] brifordwylie commented on #109
Hi @Wapiti08 thanks for the question. So the anomaly_detection.py script in the examples/ directory is mostly about showing people the ZAT functionality that allows them to turn both numeric and categorical data into numpy matrices suitable for using scikit-learn ML algorithms. In particular that example is using the following features from the Zeek DNS log (line 49).
[code]
Some of those features

[2020-04-19 17:18] #109 closed, assigned to nobody

[2020-04-19 18:50] brifordwylie commented on #108
@DionAkkerman hey, just wanted to circle back... I ^finally^ released a PyPI version (0.3.9) with this fix in it... anyway thanks again for catching this.
- https://pypi.org/project/zat/

[2020-04-20 00:57] Wapiti08 commented on #109
Thanks for your interpretation. I got the idea.

[2020-07-21 07:19] xx-zhang opened #113 "what's your zeek scripts , can you share for me"
rt

[2020-07-24 15:35] #113 closed, assigned to nobody

[2020-12-06 09:53] eldraco opened #114 "Error installing with python3.9 and numpy 1.19"
When having numpy 1.19 and python 3.9, zat tries to dowload and use numpy 1.16, but it fails and is not installing

`pip3 install zat
Collecting zat
  Using cached zat-0.3.9-py2.py3-none-any.whl (174 kB)
Collecting pyarrow
  Using cached pyarrow-2.0.0.tar.gz (58.9 MB)
  Installing build dependencies ... -
error
  ERROR: Command errored out with exit status 1:
   command: /usr/bin/python3 /usr/lib/

[2020-12-09 17:41] brifordwylie commented on #114
Hmm... ZAT doesn't specify a specific version of numpy. From the output above it looks like pyarrow is having an issue... After some experimenting it looks like pyarrow has wheels for Python3.8 but does not currently have them for 3.9 (https://pypi.org/project/pyarrow/#files)... so you could either...
1) Figure out how to install/build pyarrow for your Python3.9 environment
2) Use Python3.8
3) Dow

[2020-12-09 17:41] #114 closed, assigned to brifordwylie

[2020-12-19 11:18] eldraco commented on #114
Thanks! will try.

[2020-12-31 03:57] brifordwylie opened #117 "Add flake8 check to examples/"
The zat/examples code definitely needs some cleanup :)

[2020-12-31 04:06] brifordwylie commented on #43
Shrug.. so ZAT is suppose to be a 'bridging' package... zeek to pandas, zeek to scikit, zeek to parquet, etc...so we're going to keep most of the dependencies.. I have move pyarrow over to [all].. https://github.com/SuperCowPowers/zat/pull/118 shrug.. that may bite someone in the future.. but at least you can install ZAT on a Raspberry Pi without it..

[2020-12-31 04:06] #43 closed, assigned to brifordwylie

[2020-12-31 04:08] brifordwylie commented on #107
As an 'optimization' this hasn't been a priority, so I'll close this. We can reopen if necessary.

[2020-12-31 04:08] #107 closed, assigned to brifordwylie

[2021-01-01 00:01] brifordwylie commented on #29
Done  https://github.com/SuperCowPowers/zat/blob/master/examples/pandas_whitelist.py

[2021-01-01 00:01] #29 closed, assigned to brifordwylie

[2021-02-06 22:01] br0kej commented on #40
Hey Brian. Just spotted that this was recently re-opened. Is support for JSON log in dev?

[2021-02-07 00:58] brifordwylie commented on #40
Hi @br0kej thanks for interest in the JSON log support... I'll definitely try to bump this issue up in priority, I'll keep this issue updated with progress.

[2021-02-26 20:59] brifordwylie commented on #40
@br0kej okay.. so the JSON to dataframe is in with the merge of #119, there's an example of how to use it in:
- https://github.com/SuperCowPowers/zat/blob/master/examples/zeek_json_to_pandas.py

[2021-02-26 20:59] #40 closed, assigned to brifordwylie

[2021-02-27 16:50] br0kej commented on #40
Awesome @brifordwylie!

[2021-02-27 18:23] brifordwylie commented on #40
Also released a new Pypi version, so you should be able to `pip install --upgrade zat` and run the example above

[2021-02-28 03:55] CyberTaoFlow commented on #40
Thank you for implementing this, no more conversion pipeline!

[2021-02-28 20:08] brifordwylie opened #126 "Setup coveralls in Git Actions"

[2021-02-28 21:13] brifordwylie commented on #126
Okay.. so this is done.. I'm not sure how to have the PR 'fail' if the coverage drops but that can be another ticket.

PR #127

[2021-02-28 21:13] #126 closed, assigned to brifordwylie

[2021-05-12 15:22] Spriithy opened #132 "Make pyspark dependency optional"
Hi,

I'm using ZAT for its Zeek log file reading capabilities for pandas processing only on small controllers.

However, installations fails on these due to the extraneous 213MB of pyspark code dependency which we obviously don't need.

Could you please make it possible to install specific features of Zat independently ? I was thinking like

[code]

Thanks in advance !

[2021-05-12 17:15] brifordwylie commented on #132
@spriithy

Done...
The pypi 0.4.3 release now has pyspark as an optional dependency, used the proposed approach above. 👍

[2021-05-12 17:15] #132 closed, assigned to nobody

[2021-05-13 14:08] Spriithy commented on #132
Wow thanks !

This is probably the fastest handling of ANY PR I ever submitted... by far...

Thank you so much for the work put in ZAT :)

[2021-07-03 09:33] gorzilla opened #133 "Support for Intelligence Framework"
Would be great if zat could read/write the [intel format](https://docs.zeek.org/en/master/frameworks/intel.html#loading-intelligence) that Zeek uses. At the moment when I try to load a file like [this one](https://raw.githubusercontent.com/CriticalPathSecurity/Zeek-Intelligence-Feeds/master/cps-collected-iocs.intel), I get an error because there's no timestamp column.

`KeyError: "None of ['ts'] a

[2021-07-06 15:21] brifordwylie commented on #133
Okay sounds like a good idea, I'll look into adding support for that.

[2021-10-05 00:14] zmaasaoui commented on #133
I have the same issue. Any updates ?

[2021-10-05 16:34] brifordwylie commented on #133
Oh yeah, I need to do this.. will try to squeeze it in today.

[2021-10-05 17:47] brifordwylie commented on #133
@gorzilla @zmaasaoui just so I understand.... what's the use case that you're looking to support with zat? You want to read in the intel format as a pandas dataframe? Or do you want to read the resulting intel.log?

[2021-10-05 18:03] brifordwylie commented on #133
Okay.. so I'm assuming the usecase is to read in the intel data with the intel format that @gorzilla linked. The patch was easy and I'll make a new PyPI distribution today.  Here's how you can test it out...

[code]

[2021-10-05 18:19] brifordwylie commented on #133
Okay a new version has been pushed to PyPI (0.4.4).. please let me know if it works for you guys.

[2021-10-06 01:38] zmaasaoui commented on #133
Thank you @brifordwylie. It works for me.

[2021-10-06 16:54] #133 closed, assigned to nobody

[2022-01-26 16:07] Wapiti08 opened #135 "How to make sure the dataframe_to_matrix function perform same on the data with same structure?"
There are automatic normalization function and encoding functions inside the function.

But if I want to use them separately on train and test dataset, I need to make sure the same scaler and encoding method for two datasets. I found there is no such single fit function for me to save the scaler.

Is there any way to achieve by requirements based on ZAT?

Hope to get some advice on that.

[2022-01-27 11:03] Wapiti08 commented on #135
I found solution for this question, just by reusing the to_matrix

[2022-01-27 11:03] #135 closed, assigned to nobody

[2022-01-27 13:18] brifordwylie commented on #135
@Wapiti08 it's a good question. If you look here https://github.com/SuperCowPowers/zat/blob/master/zat/dataframe_to_matrix.py.    the class has two methods `fit_transform` and `transform`. When you're using training data use `fit_transform` and when you doing evaluation/prediction you should just use `transform`. It might be good for me to make a notebook explaining this :)

[2022-01-27 16:20] Wapiti08 commented on #135
I found that example. It helps me to solve my concern (kind of mind shift). Thanks a lot again

[2022-03-21 15:34] kascas opened #136 "ZAT may ignore contents after character '#'"
Hello, ZAT helps me a lot, but I think ZAT fails to handle '#' properly. In a sql injection event, the url contains character '#' and ZAT ignore the contents after it. The two picture can describe this:

This picture is Zeek's http.log, you can see the url is `/dv/vulnerabilities/sqli/?id=1'+and+1=1#&Submit=Submit`
![image](https://user-images.githubusercontent.com/52986754/159293074-c392e008-71d8

[2022-03-21 15:45] brifordwylie commented on #136
Hmm... okay.. thanks for the problem description... I'll try to take a look at this...

[2022-03-22 17:17] brifordwylie commented on #136
Okay.. so this turns out to be more difficult than expected. The reason is that we're utilizing the Pandas comment parameter to clip out both the Zeek header fields and the closing '#close' tag that zeek puts on the end of a log. Anyway, still looking at optional/approaches here...

[2022-03-24 07:33] kascas commented on #136
So is it possible to use regular expression or other methods to make a distinction between header fields and values?

[2022-03-24 13:08] brifordwylie commented on #136
Certainly, but the higher level issue is do you let Pandas take care of the details or do you 'roll your own'.. and rolling your own is always a bigger effort. So I'll do some experimentation in the next few days and come up with something.

By the way.. I noticed that you aren't even using the DataFrame (as least in your use case/snippet)

[code]

So if you just want a list of dictionaries you ca

[2022-03-24 13:45] kascas commented on #136
Thanks for your solution, and ZeekLogReader do help me get a correct dictionary from logs. Perhaps I need to read document (or source code) more carefully... So, thank you again for taking time to solve my problem : )

[2022-03-24 14:09] brifordwylie commented on #136
@kascas no problem. Thanks for reporting this.. I'm going to reopen this ticket..  for folks using the Pandas Dataframes this will need to be fixed. :)

[2022-03-27 10:50] DAYceng opened #137 "Demo file has errors"
Hi，I found an error while running the demo routine under the notebook folder
The error is in this file：[zat/notebooks/Anomaly_Detection.ipynb](https://github.com/SuperCowPowers/zat/blob/main/notebooks/Anomaly_Detection.ipynb)

at In[28]
`# Distribution of the request body length
Zeek_df[['request_body_len']].hist()
print('\nFor this small demo dataset almost all request_body_len are 0\nCluster 2 r

[2022-03-27 20:38] brifordwylie commented on #137
Ah, thanks. I've fixed the notebook and pushed to main branch

[2022-03-27 20:38] #137 closed, assigned to nobody

[2022-04-01 07:51] lokipython opened #138 "http.log file with the size of 2.0 MB zat stuck"
I have a log file http.log file with the size of 2.0MB , my script just hang when i load it to data frames if i give small size file it loads
![up11](https://user-images.githubusercontent.com/87889016/161219291-f0be4f71-56ab-4140-ace4-e448b18c86ce.png)
above image its not loading

![up44](https://user-images.githubusercontent.com/87889016/161219513-b00ea55c-8308-47fc-8698-dbe71a9b2432.png)
this on

[2022-04-01 08:00] #138 closed, assigned to nobody

[2022-04-01 13:23] brifordwylie commented on #138
@lokipython we have read in Zeek log files that are 2-3 Gigabytes (see https://supercowpowers.github.io/zat/large_dataframes.html) so there should not be any problem with a 2MB file, can you give a bit more information on the issue you're seeing. Also you can mail me the file at briford@supercowpowers.com if you'd like me to diagnose the issue.

[2022-04-07 14:05] Bakloul1998 commented on #136
Hello Mister @brifordwylie , can you help me on how to use and run the code ?

[2022-04-07 14:06] Bakloul1998 opened #139 "Unable to run the code"
Can you help me to how to use and run the code ?

[2022-04-07 14:14] brifordwylie commented on #136
@Bakloul1998 that's a pretty broad question. ZAT can be used in a bunch of different ways.. the documentation contains many code examples and notebooks: https://supercowpowers.github.io/zat/ please start with the examples page https://supercowpowers.github.io/zat/examples.html.

[2022-04-07 14:16] brifordwylie commented on #139
@Bakloul1998 that's a pretty broad question. ZAT can be used in a bunch of different ways.. the documentation contains many code examples and notebooks: https://supercowpowers.github.io/zat/ please start with the examples page https://supercowpowers.github.io/zat/examples.html.

Is there something specific that you've tried but didn't work?  Please provide the code that you're having issues with.

[2022-04-07 14:22] Bakloul1998 commented on #139
thank you for your reply ,
I am considering your repository which I see as very useful , beacause I am working on the machine learning side with Zeek so that Zeek can detect activities that are not normal.
Should the algorithm I'm going to build be separate and analyze zeek's logs as input or should it be integrated while Zeek analyzes the data flow through the network, which I see as impossible?

[2022-04-07 14:36] brifordwylie commented on #139
There's an Anomaly Detection notebook listed in the documentation that show use of Isolation Forests for anomaly detection. https://nbviewer.org/github/SuperCowPowers/zat/blob/main/notebooks/Anomaly_Detection.ipynb

I would start with some of the 'getting started' notebooks listed on the Repo Front Page Readme.. https://github.com/SuperCowPowers/zat like perhaps [Zeek to Scikit-Learn](https://nbvi

[2022-04-07 14:36] #139 closed, assigned to nobody

[2022-08-16 18:33] jailenbailey opened #140 "Stuck when attempting to make a Pandas DF"
Hi there!

I am new to using ZAT and have encountered an issue when attempting to use either the zeek_log_reader or the LogToDataFrame functions. In Jupyter, it seemed as if my kernel was having an issue, because I couldn't use a print statement. However, when I moved over to using VSCode, I was able to see that the cell for the follwing was just getting stuck, as I let the cell get to 10 minutes

[2022-08-17 15:03] brifordwylie commented on #140
Hi @jailenbailey

Thanks for the issue report. I've tried to replicate using Python 3.10.6 but it all seems to work fine. Here's the working code snippet.

[code]

So a couple of questions/observations
- Is the conn.log really big (GigaBytes?)
- If you're on an AWS instance those can sometimes have a small amount of RAM
- Can you send me a copy of the conn log? S3 bucket/URL link/etc..

Feel free

[2022-08-17 16:27] jailenbailey commented on #140
Hi @brifordwylie,

I thank you for a timely response!

Being that this is the case, I think it confirms that there is likely something wrong with my environment (starting an internship with an issued laptop, I am sure I missed something or another in the environment setup).

My conn.log file is only 36MB and is very standard with nothing outstanding or unique, and I am using a simple Windows 10 se

[2022-09-30 14:41] jailenbailey commented on #140
Update:

I went super in the weeds to figure out exactly what was wrong here. It drove me absolutely insane because I couldn't find a single problem with my code, packages, environment, anything.

It was so obvious. I was using LogToDataFrame on a JSON formatted log file **Facepalm**.

[2022-09-30 14:41] #140 closed, assigned to nobody

[2022-09-30 18:03] brifordwylie commented on #140
Good to hear you worked it out... you've probably found it already but here's an example script that pulls in the JSON formatted log: https://github.com/SuperCowPowers/zat/blob/main/examples/zeek_json_to_pandas.py

[2022-10-05 03:48] hilt86 opened #141 "Loading Data from S3"
Thanks for making Zat!

I would like to be able to centrally store all my data in Amazon S3 and access then using Zat, however currently Zat expects an actual filesystem. Is it possible to use the native-ish support for S3 in Zat please?

[2022-10-05 03:50] hilt86 commented on #89
Can we get this re-opened with reference to #141 please

[2022-10-05 13:53] brifordwylie commented on #141
This is a super awesome suggestion.... putting this on the top of my open source queue  👍

[2022-10-06 22:28] hilt86 commented on #141
Thanks! At the moment I've modified the `/opt/zeek/share/zeekctl/scripts/archive-log` log to call a small python script that converts the file to a parquet file on Amazon S3. For Analysis I use Google Colab like so :

[code]
Then I use pc.concat() to combine all the minis into one big dataframe for analysis :

`df = pd.concat((pd.read_parquet(f, engine='fastparquet') for f in fileList), ignore_ind

[2022-10-07 03:39] hilt86 opened #142 "Can we make JSON a first class citizen?"
Thanks again for making Zat - I'm surprised it isn't being used by more folks!

In reference to https://github.com/SuperCowPowers/zat/blob/7f0de8bb052e8c84ab9bd00f195514d957eac9ec/zat/json_log_to_dataframe.py which states :

    """JSONLogToDataFrame: Converts a Zeek JSON log to a Pandas DataFrame
        Notes:
            Unlike the regular Zeek logs, when you dump the data to JSON you lose

[2022-10-07 14:59] brifordwylie commented on #142
Thanks for your interest in improving the JSON reader.  If the ZAT code is being used in a commercial setting and you'd like to get stuff done quickly and per specification you can always touch base with the SCP folks at https://www.supercowpowers.com/. Otherwise I agree with your suggestion that the JSON reader needs to be improved and we'll put this on the open source queue. I think the S3 bucke

[2022-10-27 04:13] hilt86 commented on #142
ok I will cancel my sponsorship here and get in touch with you directly...

[2022-10-30 23:12] southwestflavorz opened #144 "Multiple log files into a single dataframe"
As the title states, is there a method for combining multiple zeek logs into a single dataframe?

[2022-11-01 03:01] CindyStudyEveryday opened #145 "dosn't work"

[2022-11-01 07:11] #145 closed, assigned to nobody

[2022-11-01 08:48] CindyStudyEveryday opened #146 "About no output"
What is the possible reason for not outputting any content? Thank you.
![image](https://user-images.githubusercontent.com/87004981/199194414-4753a141-3a2e-4eaf-8b1f-3f9e2f78fdee.png)

[2022-11-01 15:15] brifordwylie commented on #146
My guess is that "E:/python/zeek/ZAT/http.log" might be an empty file. The code comes with data files... try running the script on the data that comes in the repository...
[code]

[2022-11-07 03:34] CindyStudyEveryday commented on #146
I think I know the reason. The file I used is not an empty file, but it is in the json format, which makes the program invalid.

[2022-11-07 15:47] brifordwylie commented on #146
@CindyStudyEveryday yeah.. there are different readers for JSON format see: https://github.com/SuperCowPowers/zat/blob/main/examples/zeek_json_to_pandas.py

[2022-11-07 15:47] #146 closed, assigned to nobody

[2022-11-12 19:39] brifordwylie commented on #144
@southwestflavorz pandas has a kewl concat feature... so you can combine this with 'glob' and a list comprehension 👍

[code]

[2022-11-12 19:39] #144 closed, assigned to nobody